<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://edgehubtriggerfunctions20230916114106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef5f1f9b-46f4-4dbd-860a-f27e4c91a9cd/resourcegroups/EdgeIoTRG/providers/Microsoft.Web/sites/EdgeHubTriggerFunctions20230916114106</ResourceId>
    <UserName>$EdgeHubTriggerFunctions20230916114106</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://edgehubtriggerfunctions20230916114106.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>